{# make the form fragment customization #}
{% block form_row %}
    {% spaceless %}
        <tr>
            <th>{{ form_label(form, label) }}</th>
            <td>{{ form.vars.value }}</td>
        </tr>
    {% endspaceless %}
{% endblock form_row %}